.loading {
    position: relative;
    .spinner-border {
        position: absolute;
    width: 120px;
    height: 120px;
    inset: 0;
    left: -1rem;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: var(--bs-blue);
    }
}

@keyframes loading-ani1 {
    25% {
        transform: rotate(135deg);
    }

    50% {
        transform: rotate(225deg);
    }

    75% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

@keyframes loading-ani2 {

    17.5%,
    25%,
    42.5%,
    50%,
    67.5%,
    75%,
    92.5%,
    100% {
        transform: translate(0, 50px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: translate(0, 35px);
    }
}

@keyframes loading-ani3 {

    17.5%,
    25%,
    42.5%,
    50%,
    67.5%,
    75%,
    92.5%,
    100% {
        transform: rotate(90deg) translate(0, 50px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(90deg) translate(0, 35px);
    }
}

@keyframes loading-ani4 {

    17.5%,
    25%,
    42.5%,
    50%,
    67.5%,
    75%,
    92.5%,
    100% {
        transform: rotate(180deg) translate(0, 50px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(180deg) translate(0, 35px);
    }
}

@keyframes loading-ani5 {

    17.5%,
    25%,
    42.5%,
    50%,
    67.5%,
    75%,
    92.5%,
    100% {
        transform: rotate(270deg) translate(0, 50px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(270deg) translate(0, 35px);
    }
}