.display-cart {
    @include flex-row-justify(center);
    gap: 1.5rem;
    padding: 1rem 0;
    padding-right: 3rem;
    padding-left: 1rem;
    position: fixed;
    right: -1rem;
    height: 7rem;
    top: 12rem;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    box-shadow: #56565680 0px 4px 4px 0px;
    border: 3px solid var(--saumon);
    background: var(--white);
    transition: ease-in-out 0.3s all;
    z-index: 1044;

    &:hover {
        .button-cart {
            display: none;
        }

        .display-cart {
            &-button {
                display: block;
            }

            &-price {
                display: block;
            }

            &-toast {
                transform: translateX(-15rem);
                transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
            }
        }
    }

    &-button {
        display: none;
        @include button();
        border-radius: 4rem;
        background: var(--yellow);

        &:hover {
            box-shadow: 0px 4px 10px 2px var(--yellow);
        }
    }

    &-price {
        display: none;
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--blue);
    }

    //override react Toastify
    &-toast {
        position: absolute;
        top: 0;
        right: 12rem;

        .Toastify__toast {
            margin: 0;
            border-radius: 1rem;
            color: var(--white);
            background: var(--blue);
        }

        .Toastify__close-button {
            color: var(--white)
        }

        .Toastify__progress-bar-theme--dark {
            background: var(--saumon)
        }
    }
}

.button-cart-payment {
    button {
        @include button();
        border-radius: 0;
    }

    &-return {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #878787 !important;
        border-top-right-radius: 2rem !important;
        border-bottom-left-radius: 2rem !important;

        &:hover {
            background-color: #878787 !important;
            color: var(--white) !important;
        }
    }

    &-validate {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 2rem !important;
    }
}

.button-popover-cart-reset {
    margin-top: 1rem;
    color: #878787;
}

.button-cart-reset {
    @include flex-row-justify(space-between);

    &--destroy {
        color: #dc3545;
        background-color: #f9d9dc;

    }

    &--cancel {
        color: var(--white);
        background-color: var(--blue-light);
    }
}

.cart {
    width: auto;
    border: 4px solid var(--saumon);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    //override bootstrap
    .offcanvas-header {
        position: absolute;
        padding: 0;
        top: 1rem;
        right: 1rem;

        button.btn-close {
            width: 1.5rem;
            height: 1.5rem;
            background: var(--saumon);
            border-radius: 50%;

            &::after {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                content: "\f00d";
                font-family: $fontAwesomeFree;
                font-weight: 900;
                color: var(--white);
            }
        }
    }

    .offcanvas-body {
        display: flex;
    }

    h2 {
        font-weight: 600;
        color: var(--blue);
        margin-bottom: 3rem;
    }

    &__success {

        //override bootstrap
        .alert {
            cursor: pointer;
            display: block;
            position: relative;
            padding: 1rem 1.5rem;
            margin: 0;
            border-radius: 0.5rem;
            font-weight: 500;
            color: #689f38;
            background: #e7f6d5;
        }
    }

    &__table {
        &__header {
            font-size: 1.5rem;
            color: var(--blue);

            tr {
                th {
                    text-align: center;
                    font-weight: 600;

                    &:nth-child(1) {
                        text-align: inherit;
                    }
                }
            }
        }

        &__body {
            max-height: 50rem;
            border: 2px solid var(--saumon) !important;
            border-left: none !important;

            tr {
                th {
                    font-size: 2rem;
                }

                td {
                    padding: 1rem 0;
                }
            }

            &__product {
                gap: 1rem;
                color: var(--saumon);

                img {
                    object-fit: cover;
                }

                h3 {
                    font-size: 1.5rem;
                }
            }

            &__quantity {
                vertical-align: middle;
                text-align: center;
                font-weight: 600;
                color: var(--saumon);

                span {
                    padding: 0.5rem 1rem;
                    border: 1px solid var(--saumon);
                    border-radius: 0.5rem;
                }
            }

            &__price {
                vertical-align: middle;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--blue);
            }

            &__delete {
                padding: 1rem 2rem;
                vertical-align: middle;
                text-align: center;
                font-size: 2rem;
                color: var(--blue);

                button {
                    background: none;

                    i {
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }

        &__footer {
            @include input-datas();
            font-size: 2rem;
            color: var(--blue);

            label {
                font-size: 1.2rem;
            }

            &__promotion {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                margin: 2rem 0;

                &--is-valid {
                    font-size: 1rem;
                    padding: 0;

                    span {
                        padding: 1rem 2rem;
                    }

                    &-correct {
                        pointer-events: none;
                        background-color: var(--green);
                    }

                    &-default {
                        background-color: var(--blue);
                    }
                }
            }

            &__order-type {
                margin-bottom: 2rem;

                &__title {
                    margin-bottom: 1.5rem !important;
                    font-weight: bold !important;
                }

                .radio-order {
                    display: flex;
                    flex-direction: column;
                    font-size: 2rem;
                    gap: 1rem;
                    text-transform: capitalize;
                    border-radius: 1rem !important;
                    border-color: var(--blue-light);
                    background-color: var(--blue-light);

                    &:hover {
                        background-color: var(--blue);
                    }

                    span {
                        i {
                            font-size: 3.5rem;
                        }
                    }
                }

                .btn-check:checked+.radio-order {
                    background-color: var(--blue);

                    &::after {
                        @include flex-row-justify(center);
                        content: '\f00c';
                        font-family: $fontAwesomeFree;
                        font-weight: 900;
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -50%);
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        color: var(--white);
                        background-color: var(--green);
                    }
                }
            }
        }
    }
}

#cartPreview {
    height: fit-content;
    padding: 1rem;
}

/************************** CARD **************************/

#cartPayment {
    display: none;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: var(--saumon);
    }

    h2 {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .card-item {
        max-width: 450px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 2;
        width: 100%;

        @media screen and (max-width: 480px) {
            max-width: 310px;
            height: 220px;
            width: 90%;
        }

        @media screen and (max-width: 360px) {
            height: 180px;
        }

        &.-active {
            .card-item__side {
                &.-front {
                    transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
                }

                &.-back {
                    transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
                    // box-shadow: 0 20px 50px 0 rgba(81, 88, 206, 0.65);
                }
            }
        }

        &__focus {
            position: absolute;
            z-index: 3;
            border-radius: 5px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
            border: 2px solid rgba(255, 255, 255, 0.65);

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: rgb(8, 20, 47);
                height: 100%;
                border-radius: 5px;
                filter: blur(25px);
                opacity: 0.5;
            }

            &.-active {
                opacity: 1;
            }
        }

        &__side {
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 5px 16px 0 rgba(14, 42, 84, 0.55);
            transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
            transform-style: preserve-3d;
            transition: all 0.8s cubic-bezier(0.42, 0, 0, 1.05);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            height: 100%;

            &.-back {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
                z-index: 2;
                padding: 0;
                // background-color: #2364d2;
                // background-image: linear-gradient(
                //   43deg,
                //   #4158d0 0%,
                //   #8555c7 46%,
                //   #2364d2 100%
                // );
                height: 100%;

                .card-item__cover {
                    transform: rotateY(-180deg);
                }
            }
        }

        &__bg {
            max-width: 100%;
            display: block;
            max-height: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__cover {
            height: 100%;
            background-color: #1c1d27;
            position: absolute;
            height: 100%;
            background-color: #1c1d27;
            left: 0;
            top: 0;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(6, 2, 29, 0.45);
            }
        }

        &__top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 40px;
            padding: 0 10px;

            @media screen and (max-width: 480px) {
                margin-bottom: 25px;
            }

            @media screen and (max-width: 360px) {
                margin-bottom: 15px;
            }
        }

        &__chip {
            width: 60px;

            @media screen and (max-width: 480px) {
                width: 50px;
            }

            @media screen and (max-width: 360px) {
                width: 40px;
            }
        }

        &__type {
            height: 45px;
            position: relative;
            display: flex;
            justify-content: flex-end;
            max-width: 100px;
            margin-left: auto;
            width: 100%;

            @media screen and (max-width: 480px) {
                height: 40px;
                max-width: 90px;
            }

            @media screen and (max-width: 360px) {
                height: 30px;
            }
        }

        &__typeImg {
            max-width: 100%;
            object-fit: contain;
            max-height: 100%;
            object-position: top right;
        }

        &__info {
            color: #fff;
            width: 100%;
            max-width: calc(100% - 85px);
            padding: 10px 15px;
            font-weight: 500;
            display: block;

            cursor: pointer;

            @media screen and (max-width: 480px) {
                padding: 10px;
            }
        }

        &__holder {
            opacity: 0.7;
            font-size: 13px;
            margin-bottom: 6px;

            @media screen and (max-width: 480px) {
                font-size: 12px;
                margin-bottom: 5px;
            }
        }

        &__wrapper {
            font-family: 'Source Code Pro', monospace;
            padding: 25px 15px;
            position: relative;
            z-index: 4;
            height: 100%;
            text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
            user-select: none;

            @media screen and (max-width: 480px) {
                padding: 20px 10px;
            }
        }

        &__name {
            font-size: 18px;
            line-height: 1;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;

            @media screen and (max-width: 480px) {
                font-size: 16px;
            }
        }

        &__nameItem {
            display: inline-block;
            min-width: 8px;
            position: relative;
        }

        &__number {
            font-weight: 500;
            line-height: 1;
            color: #fff;
            font-size: 27px;
            margin-bottom: 35px;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;

            @media screen and (max-width: 480px) {
                font-size: 21px;
                margin-bottom: 15px;
                padding: 10px 10px;
            }

            @media screen and (max-width: 360px) {
                font-size: 19px;
                margin-bottom: 10px;
                padding: 10px 10px;
            }
        }

        &__numberItem {
            width: 16px;
            display: inline-block;

            &.-active {
                width: 30px;
            }

            @media screen and (max-width: 480px) {
                width: 13px;

                &.-active {
                    width: 16px;
                }
            }

            @media screen and (max-width: 360px) {
                width: 12px;

                &.-active {
                    width: 8px;
                }
            }
        }

        &__content {
            color: #fff;
            display: flex;
            align-items: flex-start;
        }

        &__date {
            flex-wrap: wrap;
            font-size: 18px;
            margin-left: auto;
            padding: 10px;
            display: inline-flex;
            width: 80px;
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;

            @media screen and (max-width: 480px) {
                font-size: 16px;
            }
        }

        &__dateItem {
            position: relative;

            span {
                width: 22px;
                display: inline-block;
            }
        }

        &__dateTitle {
            opacity: 0.7;
            font-size: 13px;
            padding-bottom: 6px;
            width: 100%;

            @media screen and (max-width: 480px) {
                font-size: 12px;
                padding-bottom: 5px;
            }
        }

        &__band {
            background: rgba(0, 0, 19, 0.8);
            width: 100%;
            height: 50px;
            margin-top: 30px;
            position: relative;
            z-index: 2;

            @media screen and (max-width: 480px) {
                margin-top: 20px;
            }

            @media screen and (max-width: 360px) {
                height: 40px;
                margin-top: 10px;
            }
        }

        &__cvv {
            text-align: right;
            position: relative;
            z-index: 2;
            padding: 15px;

            .card-item__type {
                opacity: 0.7;
            }

            @media screen and (max-width: 360px) {
                padding: 10px 15px;
            }
        }

        &__cvvTitle {
            padding-right: 10px;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 5px;
        }

        &__cvvBand {
            height: 45px;
            background: #fff;
            margin-bottom: 30px;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 10px;
            color: #1a3b5d;
            font-size: 18px;
            border-radius: 4px;
            box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);

            @media screen and (max-width: 480px) {
                height: 40px;
                margin-bottom: 20px;
            }

            @media screen and (max-width: 360px) {
                margin-bottom: 15px;
            }

            span {
                display: inline-block;
            }
        }
    }

    .slide-fade-right-enter {
        opacity: 0;
        transform: translateX(10px) rotate(45deg);
        pointer-events: nne;
    }

    .slide-fade-right-enter-active {
        transition: all 0.25s ease-in-out;
        transition-delay: 0.1s;
        transform: translateX(0px) rotate(0deg);
        position: relative;
        opacity: 100;
    }

    .slide-fade-right-exit {
        transform: translateX(0px) rotate(0deg);
        pointer-events: none;
    }

    .slide-fade-right-exit-active {
        opacity: 0;
        transition: all 0.25s ease-in-out;
        transform: translateX(30px) rotate(-80deg);
        position: relative;
    }

    .slide-fade-up-enter {
        transform: translateY(15px);
        pointer-events: none;
        opacity: 0;
    }

    .slide-fade-up-enter-active {
        transition: all 0.25s ease-in-out;
        transition-delay: 0.1s;
        transform: translateY(0px);
        position: relative;
        opacity: 1;
    }

    .slide-fade-up-enter-done {
        transform: translateY(0px);
        opacity: 1;
    }

    .slide-fade-up-exit {
        transform: translateY(0px);
        pointer-events: none;
        opacity: 1;
    }

    .slide-fade-up-exit-active {
        transition: all 250ms ease-in-out;
        transform: translateY(-15px);
        position: relative;
        opacity: 0;
    }

    .slide-fade-up-exit-done {
        opacity: 0;
    }

    .zoom-in-out-enter {
        transform: translateY(6px) scale(3.5);
        transition-delay: 0.1s;
        filter: blur(0.4px);
        opacity: 0;
    }

    .zoom-in-out-enter-active {
        transition: all 250ms ease-in-out;
        transform: translateY(0px) scale(1);
        filter: blur(0px);
        opacity: 1;
    }

    .zoom-in-out-enter-done {
        opacity: 1;
    }

    .zoom-in-out-exit {
        opacity: 1;
    }

    .zoom-in-out-exit-active {
        transition: all 150ms ease-in-out;
        transition-delay: 0.1s;
        transform: translateY(4px) scale(2.3);
        filter: blur(0.4px);
        position: relative;
    }

    .card-form {
        @include flex-column-justify(center);
        row-gap: 2rem;
        padding: 1rem;

        @media screen and (max-width: 576px) {
            margin: 0 auto;
        }

        &__inner {
            background: #fff;
            border-radius: 10px;

            @media screen and (max-width: 480px) {
                padding: 25px;
                padding-top: 165px;
            }

            @media screen and (max-width: 360px) {
                padding: 15px;
                padding-top: 165px;
            }
        }

        &__row {
            display: flex;
            align-items: flex-start;

            @media screen and (max-width: 480px) {
                flex-wrap: wrap;
            }
        }

        &__col {
            flex: auto;
            margin-right: 35px;

            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: 480px) {
                margin-right: 0;
                flex: unset;
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.-cvv {
                max-width: 150px;

                @media screen and (max-width: 480px) {
                    max-width: initial;
                }
            }
        }

        &__group {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .card-input__input {
                flex: 1;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__button {
            width: 100%;
            height: 55px;
            background: #2364d2;
            border: none;
            border-radius: 5px;
            font-size: 22px;
            font-weight: 500;
            font-family: 'Source Sans Pro', sans-serif;
            box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
            color: #fff;
            margin-top: 20px;
            cursor: pointer;

            @media screen and (max-width: 480px) {
                margin-top: 10px;
            }
        }
    }

    .card-list {}

    .card-input {
        margin-bottom: 20px;

        &__label {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 500;
            color: #1a3b5d;
            width: 100%;
            display: block;
            user-select: none;
        }

        &__input {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid #ced6e0;
            transition: all 0.3s ease-in-out;
            font-size: 18px;
            padding: 5px 15px;
            background: none;
            color: #1a3b5d;
            font-family: 'Source Sans Pro', sans-serif;

            &:hover,
            &:focus {
                border-color: #3d9cff;
            }

            &:focus {
                box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
            }

            &.-select {
                -webkit-appearance: none;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC');
                background-size: 12px;
                background-position: 90% center;
                background-repeat: no-repeat;
                padding-right: 30px;
            }
        }
    }

    .github-btn {
        position: absolute;
        right: 40px;
        bottom: 50px;
        text-decoration: none;
        padding: 15px 25px;
        border-radius: 4px;
        box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
        background: #24292e;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: center;
        transition: all 0.3s ease-in-out;

        @media screen and (min-width: 500px) {
            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
            }
        }

        @media screen and (max-width: 700px) {
            position: relative;
            bottom: auto;
            right: auto;
            margin-top: 20px;

            &:active {
                transform: scale(1.1);
                box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
            }
        }
    }
}

@media (max-width : $breakpoint-lg) {
    .cart {
        .offcanvas-body {
            flex-direction: column;
        }

        #cartPreview {
            .button-cart-payment-return {
                z-index: 1;
            }
        }

        #cartPayment {
            &::before {
                position: relative;
                top: -1rem;
                top: inherit;
                left: 0;
                right: 0;
                width: 100%;
                height: 5px;
            }

            .card-item {
                z-index: 0;
            }
            .card-form {
                &__inner {
                    padding: 0;
                }
            }
        }
    }

}