@mixin input-datas() {
    .inputs {
        position: relative;

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tel"] {
            display: block;
            width: 100%;
            padding: 0 2rem;
            height: 3.5rem;
            font-size: 1.3rem;
            line-height: 1.5;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            border: none;
            border-bottom: 2px solid var(--grey);
            background-color: transparent;
            box-shadow: none;
            outline: none;

            &~.focus-border {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 2px;
                transition: 0.4s;
                background-color: var(--saumon);
            }

            &+label {
                position: absolute;
                top: 50%;
                left: 0;
                margin: 0;
                transform: translate(2rem, -50%);
                transition: 0.2s;
                color: var(--grey);
                pointer-events: none;
            }

            &:focus+label,
            &:not(:placeholder-shown)+label {
                display: flex;
                transform: scale(1) translateY(-3rem) translateX(0);
                color: var(--saumon);
            }

            &:focus~.focus-border,
            &:not(:placeholder-shown)~.focus-border {
                width: 100%;
                transition: 0.4s;
                left: 0;
            }
        }

        input[type="text"]~.which-icons::after {
            content: "\54";
        }

        input[type="password"]~.which-icons::after {
            content: "\f023";
        }

        input[type="email"]~.which-icons::after {
            content: "\f0e0";
        }

        input[type="tel"]~.which-icons::after {
            content: "\f2a0";
        }

        input~.which-icons::after {
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            display: flex;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.3rem;
            color: var(--saumon);
        }
    }
}

@mixin textArea() {
    textarea {
        height: 15rem;
        resize: none;
        border: 2px solid var(--saumon);
        border-radius: 1rem;
        box-shadow: none;
    }
}