#modalAuthentication {
  @include input-datas();

  //override bootstrap
  .modal-content {
    border-radius: 1rem;

    .modal-header {
      position: absolute;
      right: 0;
      border: none;
      z-index: 3;

      .btn-close {
        outline: none;
        box-shadow: none;
      }
    }

    .modal-body {
      padding: 0;
    }

    .modal-footer {
      display: none
    }
  }

  .authentication {
    position: relative;

    .slide {
      transition: transform 0.6s ease-in-out;

      &-login {
        transform: translateX(-200%);
      }

      &-register {
        transform: translateX(50%);
      }
    }

    &__logo {
      position: absolute;
      left: 0;
      z-index: 2;
    }

    &__form {
      @include flex-column-justify(center);
      height: 100%;
      padding: 0 5rem;
      row-gap: 2rem;

      h1 {
        font-weight: bold;
        font-size: 3rem;
        color: var(--saumon);
      }

      &__register {
        row-gap: 3rem
      }

      &__fieldset {
        @include flex-column-justify(center);
        row-gap: 3rem;
      }
    }

    &__background {
      @include flex-column-justify(center);
      position: relative;
      text-align: center;
      background-color: var(--saumon);
      height: 60rem;
      overflow: hidden;

      &__article {
        color: var(--white);
        z-index: 1;

        h1 {
          font-size: 3.5rem;
          font-weight: bold;
          margin-bottom: 2rem;
        }

        p {
          margin: 1rem;
        }
      }

      &__clip {
        position: absolute;
        inset: 0;
        z-index: 0;

        &__blue {
          height: 40rem;
          width: 40rem;
          clip-path: circle(50% at 50% 50%);
          background: var(--blue);
          position: absolute;
          right: 0;
          bottom: 0;
          transition: transform 0.6s ease-in-out;

          &.left {
            transform: translate(-50%, 50%);
          }

          &.right {
            transform: translate(50%, 50%);
          }
        }

        &__saumon {
          clip-path: circle(50.5% at 50% 50%);
          height: 12rem;
          width: 12rem;
          background: var(--saumon-light);
          position: relative;
          display: block;
          margin: auto;
          transition: transform 0.6s ease-in-out;

          &.left {
            transform: translate(100%, -30%)
          }

          &.right {
            transform: translate(-50%, -30%);
          }
        }
      }
    }

    @media (max-width : $breakpoint-lg) {
      .slide-register,
      .slide-login  {
        transform: none;
      }

      .slide-login {
        article {
          background-color: var(--blue) !important;

          button {
            background-color: var(--saumon);
          }
        }
      }

      .slide-register {
        h1 {
          color: var(--blue);
        }

        //override mixin
        .which-icons {
          &::after {
          color: var(--blue);

          }
        }
        .button-cta-secondary {
          background-color: var(--blue);
        }
      }

      &__logo {
        position: relative;
      }

      &__form {
        padding: 3rem;
      }

      &__background {
        height: auto;
        background-color: initial;

        &__article {
          padding: 2rem 0;
          background-color: var(--saumon);
        }

        &__clip {
          display: none;
        }
      }
    }
  }
}