.restaurants-title {
    margin-top: 5rem;
    text-align: center;

    h1 {
        @include h2(var(--saumon));
    }
}

.restaurants {
    position: relative;

    &__map {
        width: "100%";
        height: 60rem;

        .my-custom-marker {
            span {
                width: 2rem;
                height: 2rem;
                display: block;
                position: relative;
                border-radius: 3rem 3rem 0;
                transform: rotate(45deg);
                border: 1px solid #FFFFFF
            }
        }

        .favorite-restaurant {
            @include flex-row-justify(center);
            gap: 1rem;
            color: var(--blue);
            background-color: transparent;
            cursor: auto;
            pointer-events: none;

            &::before {
                content: "\f004";
                display: block;
                font-family: $fontAwesomeFree;
                font-weight: 900;
            }
        }

        .display-restaurant {
            background-color: inherit;
            color: var(--saumon);
            border: 3px solid var(--saumon)
        }

        &__modal {
            position: absolute;
            top: 0;
            bottom: 0px;
            left: 0.5rem;
            z-index: 999;

            //override bootstrap
            .modal-content {
                border: 1px solid var(--saumon);
                border-radius: 1rem;
            }

            &__header {
                justify-content: center;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                color: var(--white);
                background-color: var(--saumon);

                h3 {
                    margin: 0;
                    font-weight: bold;
                }
            }

            &__body {
                font-size: 1.5rem;
                overflow-y: auto;
                max-height: 40rem;

                article {
                    display: flex;
                    gap: 1rem;
                    margin-bottom: 1rem;

                    p {
                        margin: 0;
                    }
                }

                &__address {
                    b {
                        display: flex;
                        align-items: center;
                    }

                }

                &__schedule {

                    b {
                        display: flex;
                        align-items: flex-start;
                        position: relative;
                        top: 8px;
                    }

                    &__day {
                        color: var(--blue);
                        font-weight: bold;
                    }
                }
            }

            &__footer {
                justify-content: center;
                font-size: 1.5rem;

            }
        }

    }
}

.informations-restaurants {
    color: var(--white);
    background-color: var(--saumon);

    figure {
        margin-top: 2rem;

        h3 {
            font-weight: bold;
        }

        figcaption {
            color: inherit;
        }
    }
}

.restaurant {
    @include flex-column();
    color: var(--blue);

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-family: $font-03;
        font-size: 5rem;
    }

    h4 {
        text-transform: uppercase;
    }

    h5 {
        font-size: 1.5rem;
    }

    &>.row {
        padding: 2rem 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &-title {
        text-align: center;
        position: relative;

        span {
            color: var(--saumon);

            b {
                position: absolute;
                margin-left: 1rem;
                padding-inline: 1rem;
                width: max-content;
                opacity: 0;
                color: var(--white);
                background-color: var(--saumon);
                transform-origin: 10% 75%;
                animation: rotateWords 12s var(--d) linear infinite;

                &:nth-child(1) {
                    --d: 0s;
                }

                &:nth-child(2) {
                    --d: 4s;
                }

                &:nth-child(3) {
                    --d: 8s;
                }
            }
        }
    }

    @keyframes rotateWords {
        5% {
            opacity: 1;
        }

        10%,
        20% {
            opacity: 1;
            transform: rotate(3deg);
        }

        15% {
            transform: rotate(-1deg);
        }

        25% {
            opacity: 0;
            transform: translateY(9rem) rotate(10deg);
        }
    }

    &-image {
        object-fit: cover;
        width: 100%;
        height: 85vh;
    }

    &__welcome {
        padding: 0 !important;
        height: 85vh;
        background-size: 110% 110%;
        background-repeat: no-repeat;
        background-position: center;
        animation: shrink 10s infinite alternate;

        @keyframes shrink {
            0% {
                background-size: 110% 110%;
            }
            100% {
                background-size: 100% 100%;
            }
        }

        section {
            background: rgba(255, 255, 255, 0.23);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7px);
            border: 1px solid rgba(255, 255, 255, 0.38);

            h1 {
                @include flex-column();
                color: var(--white);

                span {
                    font-size: 10vw;
                    font-family: $font-02;
                }
            }
        }

        &__button {
            @include flex-row-justify(center);
            position: absolute;
            bottom: 4rem;
            width: 100%;

            a {
                padding: 1rem;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                border: 1px solid var(--white);
                color: var(--white);
                background-color: inherit;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-name: upDown;

                @keyframes upDown {
                    0% {
                      transform: translateY(-15px);
                    }
                    50% {
                      transform: translateY(0);
                    }
                    100% {
                      transform: translateY(-15px);
                    }
                  }

                span {
                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    &__about {
        &__wrapper {
            @include flex-column-justify(center);
            height: 100%;

            h2 {
                margin-bottom: 10rem;
            }

            &__chef {
                margin: 0 3rem;
                align-items: center;
                background-color: #efeeee;

                img {
                    height: 45vh;
                }

                &__article {
                    @include flex-column-justify(center);
                    padding: 3rem;
                    gap: 2rem;

                    &__stars {
                        display: flex;
                        padding: 0;
                        gap: 1rem;
                    }
                }
            }
        }
    }

    &__informations {

        .my-custom-marker {
            span {
                width: 2rem;
                height: 2rem;
                display: block;
                position: relative;
                border-radius: 3rem 3rem 0;
                transform: rotate(45deg);
                border: 1px solid #FFFFFF
            }
        }

        &__map {
            height: 50rem;

            .modal-dialog {
                margin-top: 3rem;
            }

            //override modal bootstrap import from restaurants
            .modal-header {
                span {
                    &::after {
                        content: "\f54f";
                        display: block;
                        padding: 1rem;
                        position: absolute;
                        top: -2rem;
                        right: -2rem;
                        font-family: $fontAwesomeFree;
                        font-weight: 900;
                        font-size: 3rem;
                        border-radius: 50%;
                        border: 3px solid var(--blue);
                        color: var(--blue);
                        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                        background: var(--white);
                    }
                }
            }

            .modal-footer {
                background-color: var(--saumon);
            }
        }
    }

    &__service {
        justify-content: center;
        row-gap: 6rem;
        background-color: #f7f7f7;

        //override bootstrap
        .card {
            padding: 4rem;
            gap: 1rem;
            border-radius: 3rem;
            border: none;
            background-color: var(--white);

            &-header {
                border: none;
                text-align: center;
                background-color: var(--white);

                i {
                    @include flex-row-justify(center);
                    margin: auto;
                    padding: 3rem;
                    height: 15rem;
                    width: 15rem;
                    font-size: 6rem;
                    border-radius: 50%;
                    border: 3px solid var(--saumon);
                    background-color: #f7f7f7;
                }
            }

            &-body {
                p {
                    margin-top: 2rem;
                }
            }
        }

        &__chef {
            @include flex-column();
            gap: 2rem;

            img {
                object-fit: cover;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }

            &__icon {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 2rem;
                border-radius: 2rem;
                box-shadow: rgba(149, 157, 165, 0.65) 0px 8px 24px;
                background-color: var(--saumon-light);

                span {
                    i {
                        @include flex-row-justify(center);
                        font-size: 5rem;
                    }
                }
            }
        }
    }

    &__years {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
        background-color: #f7f7f7;

        img {
            height: 35rem;
        }

        &__stars {
            @include flex-row-justify(center);
            gap: 2rem;
            margin: 0;
            padding: 0;
            position: relative;

            li {
                &:nth-child(1) {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 20vw;
                        height: 0.5rem;
                        transform: translateY(-50%);
                        background-color: var(--saumon);
                    }
                }

                &:nth-child(3) {
                    font-size: 2rem;
                }

                &:nth-child(5) {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 20vw;
                        height: 0.5rem;
                        transform: translateY(-50%);
                        background-color: var(--saumon);
                    }
                }
            }
        }
    }

    &__choose {
        &__tag {
            @include flex-row-justify(center);
            gap: 5rem;
            padding: 0;

            li {
                @include flex-row-justify(center);
                text-transform: uppercase;
                font-size: 2rem;

                &::before {
                    content: '';
                    display: block;
                    margin-right: 2rem;
                    border-radius: 50%;
                    width: 1rem;
                    height: 1rem;
                    background-color: var(--blue);
                }

                span {
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 1.5rem;
                        left: 2rem;
                        height: 1rem;
                        width: 100%;
                        background-color: var(--saumon);
                        z-index: -1;
                    }
                }
            }
        }

        &__nav {
            &__social {
                @include flex-row-justify(flex-end);
                gap: 2rem;
                margin: 0;

                li {
                    i {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        &__about {
            &__wrapper {
                h2 {
                    span {
                        display: flex;
                        justify-content: center;

                        b {
                            top: 13rem;
                        }
                    }
                }
            }
        }

        &__choose {
            &__tag {
                flex-direction: column;
            }
        }
    }
}