.header {
    @media (min-width : $breakpoint-xl) {

        position: sticky;
        transition: all 0.3s linear;
        background-color: white;
        z-index: 1000;

        .button-burger {
            display: none;
        }

        .navbar-brand {
            display: none;
        }

        .desktop--scrolling {
            position: fixed;
            inset: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;

            & .off-stream {
                left: 0;
            }
        }

        &__franchisee {
            @include flex-row-justify(center);
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--saumon);
            letter-spacing: 0.2em;
        }

        &__navigation {
            position: relative;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 7.5rem;
            border: 0.3rem solid var(--saumon);
            border-radius: 5rem;
            background: white;
            // transition: all 1s ease;

            &__authentication {

                & span {
                    margin-left: 1rem;
                }

                .icons {
                    font-size: 5rem;
                    width: 5rem;
                    text-align: end;
                }

                &__userProfil {
                    padding: 1rem 2rem;

                    &__userPicto {
                        border-radius: 10rem;
                        height: 5rem;

                        img {
                            border-radius: 10rem;
                            height: 100%;
                        }
                    }

                    &__profil {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        &__firstname, &__lastname  {
                            font-size: 1.5rem;
                            text-transform: uppercase;
                            font-weight: 900;
                            letter-spacing: 0.2em;
                            color: var(--blue);
                        }

                        &__lastname {
                            margin-left: inherit !important;
                        }

                        &__email {
                            font-family: 'Poppins';
                            text-transform: lowercase !important;
                            letter-spacing: .01rem;
                            font-weight: 400;
                            color: var(--blue);
                        }
                    }
                }
            }

            &__logo {
                & img {
                    position: relative;
                    top: 3.1rem;
                    object-fit: contain;
                }
            }
        }
    }

    @media (max-width : $breakpoint-xl) {
        z-index: 1045;

        &-mobile {
            position: fixed;
            left: 0;
            height: 8rem;
            background-color: var(--blue);

            //override reactui
            .navbar-brand {
                display: flex;
                height: 100%;
                width: auto;
                margin: 0;
                padding: 0;

                a {
                    padding: 0;
                }
            }
        }

        &__franchisee {
            display: none;
        }

        &__navigation {
            &__logo {
                display: none;
            }

            li.nav-item:not(.h-0) {
                padding: 1.5rem;

                &:nth-child(1) {
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 2rem;
                        right: 2rem;
                        height: 0.3rem;
                        background-color: var(--saumon);
                    }
                }

                &:last-child {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 2rem;
                        right: 2rem;
                        height: 0.3rem;
                        background-color: var(--saumon);
                    }
                }
            }

            .navigation-links {

                a,
                button {
                    padding: 0;
                    font-size: 2rem;

                    i {
                        font-size: 3rem;
                    }
                }

                a {
                    padding: 1rem 3rem;
                }
            }
        }

        &__canvas {
            border: none;

            .button-burger {
                position: absolute;
                top: 90%;
                left: 50%;
                margin: 0;
                padding: 0;
                height: 5rem;
                width: 5rem;
                transform: translate(-50%, 0);
                border-radius: 50%;
                background: var(--saumon);

                &::before {
                    content: '\f00d';
                    font-family: $fontAwesomeFree;
                    font-weight: 900;
                    font-size: 3rem;
                    color: var(--white);
                }
            }
        }
    }
}
