.footer {
    color: var(--white);

    &__content {
        min-height: 30rem;
        background-color: var(--blue);

        & h6 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            text-align: center;
        }

        &__list {
            @include flex-column();
            padding: 0;
            margin-top: 2rem;
            row-gap: 2rem;
        }

        &__info {
            row-gap: 2rem;

            &__clip {
                @include flex-row-justify(center);
                position: relative;

                &__saumon {
                    @include clip(var(--saumon), 30rem);
                    position: absolute;
                    left: -2rem;
                    top: 0;
                }

                &__blue {
                    @include clip(#5c71ffb8, 60rem);
                    @include flex-column-justify(center);

                    h6 {
                        font-size: 4rem;
                        padding: 0 5rem;
                    }

                    p {
                        text-align: center;
                    }

                }

                &__green {
                    @include clip(#38e458b3, 20rem);
                    position: absolute;
                    bottom: 0;
                    right: 4rem;
                }
            }

            &__about {
                @include flex-column();
                row-gap: 5rem;

                &__contact {
                    @include input-datas();

                    //override mixin
                    input[type="email"] {
                        color: var(--white);
                    }


                    &__list {
                        padding: 0;
                        row-gap: 2rem;

                        li {
                            i {
                                display: flex;
                                justify-content: center;
                                width: 2rem;
                                color: var(--saumon);
                            }

                            p {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }

                &__navigation {
                    &__list {
                        padding: 0;

                        a {
                            color: var(--white);
                            height: 3.5rem;
                            width: 3.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 2.5rem;
                            border-radius: 50%;
                            border: 1px solid transparent;
                            background: var(--blue-light);
                            text-decoration: none;

                            &:hover {
                                background-color: var(--saumon);
                            }

                            i {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &__copyright {
        min-height: 5rem;
        background-color: var(--blue-dark);

        & p,
        & ul {
            margin: 0;
        }

        &__text {
            row-gap: 2rem;
            text-align: center;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        &__content {
            &__info {
                &__clip {
                    &__saumon {
                        height: 15rem;
                        width: 15rem;
                    }

                    &__blue {
                        height: 30rem;
                        width: 30rem;

                        h6 {
                            font-size: 2rem;
                        }
                    }

                    &__green {
                        height: 10rem;
                        width: 10rem;
                    }
                }
            }
        }
    }
}