/* *********************** Modal Contact *********************** */
#modalContact {

    //override bootstrap
    .modal-content {
        border-radius: 1rem;

        .modal-header {
            position: absolute;
            right: 0;
            border: none;
            z-index: 1;
        }

        .modal-body {
            padding: 0;
        }

        .modal-footer {
            display: none
        }
    }

    .contact {
        &__aside {
            @include flex-column();
            position: relative;
            padding: 2rem 3rem;
            overflow: hidden;
            border-radius: 1rem;
            color: var(--white);
            background-color: var(--saumon);

            &__title {
                @include h2(var(--white));
                //override mixin
                font-size: 3rem;

                @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
                    &::before {
                        left: 0;
                        transform: translateX(-50%);
                    }

                    &::after {
                        right: 0;
                        transform: translateX(50%);
                    }
                }

            }

            &__list {
                @include flex-column();
                padding: 0;
            }

            &__navigation {
                display: flex;
                align-items: flex-end;
                height: 15rem;

                &__list {
                    li {
                        a {
                            color: var(--white);

                            &:hover {
                                color: var(--blue) !important;
                            }
                        }
                    }
                }

                &__clip {
                    &__blue {
                        height: 40rem;
                        width: 40rem;
                        clip-path: circle(50% at 50% 50%);
                        background: var(--blue);
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        transform: translate(50%, 50%);
                    }

                    &__saumon {
                        clip-path: circle(50.5% at 50% 50%);
                        height: 12rem;
                        width: 12rem;
                        background: var(--saumon-light);
                        position: relative;
                        display: block;
                        margin: auto;
                        transform: translate(-50%, -30%);
                    }
                }
            }
        }

        &__main {
            @include input-datas();
            @include textArea();
            display: flex;
            height: 100%;
            padding: 2rem 3rem;

            &__submit {
                width: 100%;
                text-transform: uppercase;
            }
        }
    }
}

div[id^='modalProduct_'] {
    margin-top: 10rem;

    //override bootstrap
    .modal-header {
        position: absolute;
        border: none;
        z-index: 1;

        button {
            background-color: var(--saumon);
            border-radius: 50%;
            padding: 1rem;
            box-shadow: none;
        }
    }

    .modal-content {
        border: 4px solid var(--saumon);
        border-radius: 2rem;
    }

    .modal-footer {
        display: none;
    }

    .product {
        @include flex-column();
        gap: 2rem;

        .wrapper-product {
            padding: 1rem;
            border: 2px solid var(--saumon-light);
            border-radius: 2rem;

            h2 {
                margin-bottom: 2rem;
                font-size: 3rem;
                color: var(--blue);
            }

            .active {
                img {
                    border: 2px solid var(--blue);
                }

                .active-sauce {
                    @include flex-row-justify(center);
                }
            }

            .active-sauce {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(0, -1rem);

                &::after {
                    content: "";
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: var(--green);
                }

                &::before {
                    position: absolute;
                    content: "\f00c";
                    font-family: $fontAwesomeFree;
                    font-weight: 900;
                    color: var(--white)
                }
            }

            &-list {
                @include flex-row();
                flex-wrap: wrap;
                padding: 0;
                gap: 2rem;

                &-item {
                    @include flex-column-justify(center);
                    align-items: center;
                    position: relative;
                    gap: 2rem;
                    border: 2px solid transparent;

                    &-image {
                        border-radius: 2rem;
                        box-shadow: #0000003d 0px 3px 8px;
                    }

                    &-input {
                        visibility: hidden;
                    }

                    &-label {
                        position: absolute;
                        inset: 0;
                        font-size: 1.3rem;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: var(--blue);
                        cursor: pointer;

                        span {
                            @include flex-row-justify(center);
                            align-items: flex-end;
                            height: 100%;
                        }
                    }

                    &-name {
                        font-size: 1.3rem;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: var(--blue);
                    }
                }
            }
        }

        &__loader {
            display: flex;
            justify-content: center;
            padding: 10rem;
        }

        &__header {
            @include flex-row-justify(space-evenly);
            position: relative;
            height: 8rem;

            &__wrapper {
                @include flex-row-justify(center);
                position: absolute;
                gap: 5rem;
                transform: translateY(-4rem);

                &__title {
                    padding: 1rem 2rem;
                    font-size: 3rem;
                    color: var(--blue);
                    background-color: var(--white);
                    border: 3px solid var(--saumon);
                    border-radius: 5rem;
                }

                &__image {
                    object-fit: contain;
                }
            }

        }

        &__description {
            padding: 1rem;
            border-radius: 2rem;
            color: var(--white);
            background-color: var(--saumon);

            &__title {
                font-size: 3rem
            }

            &__content {
                font-size: 1.5rem
            }

            &__value {
                &__title {
                    margin: 0;
                    padding-top: 1rem;
                    padding-bottom: 2rem;
                    text-align: center;
                    border-bottom: 1px solid var(--white);
                }

                &__table {
                    color: var(--white)
                }
            }
        }

        &__composition {}

        &__footer {
            @include flex-row-justify(center);
            gap: 2rem;
            padding: 3rem;

            .quantity-fixed {
                display: flex;
                align-items: center;
                position: fixed;
                bottom: 2rem;
                gap: 2rem;
            }

            &__quantity {
                @include flex-row-justify(center);
                gap: 4rem;
                padding: 1rem 5rem;
                border-radius: 7rem;
                font-size: 2rem;
                color: var(--white);
                background-color: var(--saumon);

                label {
                    font-size: 2.5rem;
                    font-weight: bold;
                }

                &__wrapper {
                    display: flex;
                    gap: 1rem;
                    padding: 0.5rem 2rem;
                    border: 1px solid white;
                    border-radius: 3rem;

                    button {
                        color: var(--white);
                        border: none;
                        background: none;

                        &:active {
                            i {
                                transform: scale(1.2);
                            }
                        }
                    }

                    input {
                        width: 5rem;
                        text-align: center;
                        color: var(--white);
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        margin-top: 0;

        .product {
            &__header {
                height: auto;

                &__wrapper {
                    position: relative;
                    flex-direction: column;
                    gap: 0;
                    transform: translateY(0);
                }
            }
        }
    }
}