.about {

    section {
        gap: 1rem;
        margin: 3rem 0;

        h1 {
            @include h2(var(--saumon));
        }

        h2 {
            font-size: 3rem;
            color: var(--blue);
        }
    }
}
