.productsMenusList {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    flex-wrap: wrap;
    position: relative;

    &__rowGap {
        row-gap: 10rem;
    }

    &__card {
        height: 25rem;
        align-content: center;
        border-radius: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: var(--saumon-light);

        &__body {
            &-colorBtn {
                background-color: var(--saumon-light);
                color: white;
                font-size: small;

                &:hover {
                    color: var(--blue);
                }
            }

            &__pictureMenus {
                position: relative; // permet de placer l'image au dessus de la bordure de la card
                display: block;
                margin: auto;
                top: -4rem; // permet de monter ou descendre l'image
            }

            &__icon {
                i {
                    @include flex-row-justify(center);
                    font-size: 1.5rem;
                    background: var(--yellow);
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 5rem;
                    color: var(--white);
                }
            }
        }
    }
}