.userAccountOffCanva__aside__section {
   color: #242B5B;
   margin: 20px;
   font-size: 2.5rem;
   background-color: #FFFFFF;
   border-radius: 10px;
   padding: 20px;
   opacity: .7;

   &__dashboard_2 {
      &__legend {
         font-weight: 900;
         font-size: 3rem;
         @media (max-width: $breakpoint-xl) {
            font-size: 2.5rem;
         }
      }
      div {
         font-family: "Barlow", sans-serif;
         font-size: 8rem;
         font-weight: 900;
         text-align: center;
         @media (max-width: $breakpoint-xl) {
            font-size: 4rem;
         }
      }
   }
   &__fidelity {
      div &__title {
         font-size: 4rem !important;
         text-align: left !important;
         @media (max-width: $breakpoint-xl) {
            font-size: 2.5rem !important;
         }
      }
      div {
         font-family: "Barlow", sans-serif;
         font-size: 8rem;
         font-weight: 900;
         text-align: center;
      }
   }

   &__dashboard,
   &__address,
   &__orders,
   &__fidelity,
   &__helps,
   &__settings {
      &__legend {
         font-weight: 800;
         font-size: 3rem;
         @media (max-width: $breakpoint-xl) {
            font-size: 2rem;
         }
      }
      div,
      input {
         margin-top: 20px;
         text-align: center;
         @media (max-width: $breakpoint-xl) {
            font-size: 2rem;
            width: 57vw;
         }
      }
   }
}

.userAccountOffCanva__aside__sectionTableau {
   color: #242B5B;
   margin: 0 auto;
   font-size: 2.5rem;
   background-color: #FFFFFF;
   border-radius: 10px;
   height: 20vh;
   padding: 20px;
   opacity: .7;
   table {
      text-align: center;

      td {
         font-size: 2rem;
         width: 20vw;
      }
   }
}

.userAccountOffCanva__aside__section__helps__accordion {
   font-size: 3rem;
   button {
      font-size: 2rem;
   }
}