/* ****************** Our Services ****************** */
.our-services {
    position: relative;
    height: 140rem;
    background-repeat: no-repeat;
    padding-top: 25rem;
    z-index: 3;

    &__title {
        @include h2(var(--white))
    }

    &__text {
        color: var(--white);
        font-size: 2rem;
        padding-top: 2rem;
    }

    &__list {
        padding: 0;
        row-gap: 5rem;
        text-align: center;
        color: var(--white);

        h3 {
            font-size: 4rem;
        }

        .figure-caption {
            color: var(--white);
        }
    }

    @media (max-width: $breakpoint-lg) {
        padding-top: 5rem;
        height: 120rem;

        &__text {
            font-size: 1.5rem;
            padding-top: 1rem;
        }

        &__list {
            row-gap: 2rem;

            img {
                width: 6rem;
            }

            h3 {
                font-size: 2.5rem;
            }

            .figure-caption {
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 4;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                font-size: 1.5rem;
            }
        }
    }


    @media (max-width: $breakpoint-md) {
        background-size: cover;
        height: 100rem;
    }

    @media (max-width: $breakpoint-sm) {
        height: 140rem;

        &__text {
            font-size: 1.2rem;
            padding-top: 1rem;
        }

        &__list {
            row-gap: 2rem;

            img {
                width: 5rem;
            }

            h3 {
                font-size: 2rem;
            }
        }
    }
}

.counters {
    @include flex-row-justify(center);

    &__background {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0.5);
        height: 60rem;
        bottom: -20px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__container {
        position: relative;
        transform: translateY(-100%);
        z-index: 1;

        &__list {
            padding: 0;
        }
    }

    @media (max-width: $breakpoint-lg) {
        @include flex-column-justify(center);

        &__container {
            transform: none;
        }
    }

    @media (max-width: $breakpoint-md) {
        margin-top: 3rem;
        margin-bottom: 3rem;

        &__background {
            background-position: center center;
            height: 40rem;
        }
    }

    @media (max-width: $breakpoint-sm) {
        &__background {
            height: 75rem;
        }
    }
}

.categories {
    &__title {
        @include h2(var(--saumon))
    }

    &__filter {
        justify-content: center;
        gap: 2rem;
        margin-bottom: 10rem;
        padding-inline-start: 0;

        &__item {
            @include flex-column-justify(space-evenly);
            position: relative;
            align-items: center;
            row-gap: 3rem;
            border-radius: 2rem;
            cursor: pointer;

            &:hover,
            &.is-active {
                background-color: var(--saumon);

                .categories {
                    &__filter {

                        &__item {
                            &__name {
                                color: var(--white);
                            }

                            &__icon {
                                border-color: var(--white);

                                &::after {
                                    color: var(--saumon);
                                    background-color: var(--white);
                                }
                            }
                        }
                    }

                }
            }

            img {
                margin-top: 2rem;
                border-radius: 50%;
            }

            &__name {
                font-size: 1.5rem;
                text-transform: capitalize;
                font-weight: bold;
            }

            &__icon {
                margin: 2rem;
                padding: 2rem 0;
                width: 50%;
                text-align: center;
                border-top: 1px solid var(--saumon);

                &::after {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    width: 3rem;
                    height: 3rem;
                    font-family: $fontAwesomeFree;
                    content: "\f054";
                    font-weight: 900;
                    border-radius: 50%;
                    color: var(--white);
                    background-color: var(--saumon);
                }
            }

            &--change {
                position: absolute;
                inset: 0;
                background: transparent;
            }
        }
    }

    &__products {
        margin-bottom: 5rem;
        padding-inline-start: 0;
        row-gap: 10rem;
    }
}