// modification content bootstrap classes of the carousel
.carousel-indicators{
    z-index: 1;
    position: absolute  !important;
}
.carousel-indicators button{
    background-color:#F29579 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
 background-color:#F29579 !important;
 border-radius: 30px;
 border-color: whitesmoke !important;
 border:solid;
 height: 50px;
 width: 50px;
}

//additional class
// .carouselSpacing{
// margin-top: -55px;
// }