// modification content bootstrap classes of the carousel
#carouselHome {
    .carousel {
        padding: 0;
    }

    .carousel-indicators {
        z-index: 1;
        position: absolute !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: var(--saumon) !important;
        border-radius: 30px;
        border-color: var(--white) !important;
        border: solid;
        height: 50px;
        width: 50px;
    }
}