@mixin button() {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin button-standard($type) {
    @include button();

    @if($type=='saumon') {
        background: var(--saumon-light);

        &:hover {
            background: var(--saumon);
        }
    }

    @else if($type=='blue') {
        background: var(--blue);

        &:hover {
            background: var(--blue-light);
        }
    }
}

@mixin button-cta($type) {
    @include button();
    font-size: 1.5rem;
    border-radius: 50rem;

    @if($type=='primary') {
        background: var(--blue);

        &:hover {
            box-shadow: #5c71ff85 0px 5px 10px;
            background: var(--blue-light);
        }
    }

    @else if($type=='secondary') {
        background: var(--saumon);

        &:hover {
            background: var(--saumon-light);

        }
    }

    @else if($type=='tertiary') {
        background: var(--green-light);

        &:hover {
            background: var(--green);
        }
    }
}

.button {
    @include button()
}

.button-disabled {
    cursor: not-allowed !important;
    background-color: var(--grey) !important;
    box-shadow: none !important;
}

.button-burger {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background: transparent;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: #e65100;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 10px;
        }

        &:nth-child(3) {
            top: 20px;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                top: 11px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }

            &:nth-child(3) {
                top: 11px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}

.button-cart {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    background-color: inherit;

    &:hover {
        &::after {
            box-shadow: 0px 3px 11px 4px var(--yellow);
        }
    }

    &::after {
        @include flex-row-justify(center);
        font-weight: 900;
        content: "\f218";
        font-family: $fontAwesomeFree;
        font-size: 1.5rem;
        background: var(--yellow);
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 5rem;
        color: var(--white);
    }

    &:hover {
        &::after {
            box-shadow: 0px 3px 11px 4px var(--yellow);
        }
    }

    i {
        &::after {
            content: "\f218";
            font-family: $fontAwesomeFree;
            font-weight: 900;
            font-style: initial;
        }
    }

    &.active {
        &:hover {
            &::after {
                box-shadow: none
            }
        }

        i {
            &::after {
                content: "\f00c";
            }
        }
    }

    &-length {
        @include flex-row-justify(center);
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        color: var(--white);
        border-radius: 50%;
        background: var(--blue);

    }
}

$borderW: 2px;

.button-cart-blob {
    $numOfBlobs: 4;
    cursor: pointer;
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.5s;
    border-radius: 5rem;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--yellow);
    z-index: 1;

    &:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: $borderW solid transparent;
        border-radius: 5rem;
    }

    &:after {
        content: "";
        position: absolute;
        left: $borderW*1.5;
        top: $borderW*1.5;
        width: 100%;
        height: 100%;
        transition: all 0.3s 0.2s;
        border-radius: 5rem;
        z-index: -2;
    }

    &:hover {
        border-radius: 5rem;

        &:after {
            transition: all 0.3s;
            left: 0;
            top: 0;
            border-radius: 5rem;
            box-shadow: 0px 3px 11px 4px var(--yellow);
        }
    }

    &.active {
        &:hover {
            &::after {
                box-shadow: none
            }
        }

        i {
            &::after {
                content: "\f00c";
            }
        }
    }

    i {
        &::after {
            content: "\f218";
            font-family: $fontAwesomeFree;
            font-weight: 900;
            font-style: initial;
        }
    }

    &-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        overflow: hidden;
        background: var(--yellow);
        z-index: -1;

        &-blobs {
            position: relative;
            display: block;
            height: 100%;
            filter: url('#goo');

            &-item {
                position: absolute;
                top: $borderW;
                width: 100% / $numOfBlobs;
                height: 100%;
                background-color: #42b87f;
                border-radius: 100%;
                transform: translate3d(0, 150%, 0) scale(1.7);
                transition: transform 0.45s;

                @supports(filter: url('#goo')) {
                    transform: translate3d(0, 150%, 0) scale(1.4);
                }

                @for $i from 1 through $numOfBlobs {
                    &:nth-child(#{$i}) {
                        left: ($i - 1) * (120% / $numOfBlobs);
                        transition-delay: ($i - 1) * 0.08s;
                    }
                }

                .button-cart-blob.active & {
                    transform: translateZ(0) scale(1.7);

                    @supports(filter: url('#goo')) {
                        transform: translateZ(0) scale(1.4);
                    }
                }
            }
        }
    }

    &-svg {
        display: none;
    }
}

.button-standart {
    @include button-standard('saumon');
}

.button-cta-primary {
    @include button-cta('primary');
}

.button-cta-secondary {
    @include button-cta('secondary');
}

.button-cta-tertiary {
    @include button-cta('tertiary');
}

.link-cta-primary {
    @include button();
    background-color: inherit;
    color: var(--saumon) !important;
    border: 3px solid var(--saumon);
    font-size: 1.3rem;
    text-decoration: none;

    &:hover {
        background-color: #f6b1a140;
    }
}
