.col-item {
    margin-bottom: 1rem;

    .card {
        border: 3px solid var(--saumon);
        border-radius: 2rem;

        &__header {
            display: flex;
            flex-direction: column;
            padding: 0;
            font-family: $font-04;
            color: var(--saumon);
            border: none;
            border-radius: 2rem;
            background-color: inherit;

            &__wrapper {
                @include flex-row-justify(center);
                align-items: end;
                position: relative;
                width: 100%;
                height: 18rem;

                &__image {
                    display: block;
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    transform: translateY(-50%);
                }

                &__title {
                    margin-bottom: 2rem;
                    font-size: 4rem;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
            }
        }

        &__body {
            border-radius: 1rem;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            color: var(--white);
            background-color: var(--saumon);

            &__content {
                margin: 3rem;
                font-size: 1.1rem;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }

            &__action {
                @include flex-row-justify(space-between);

                &__price {
                    @include flex-row-justify(center);
                    gap: 2rem;
                }
            }
        }
    }
}