.list-items-metrics {
    li {
        font-size: 4.8rem;
        text-align: center;
        color: var(--white);
        font-family: $font-03;

        &::after {
            content: "";
            height: 0.2rem;
            display: flex;
            position: relative;
            margin: auto;
            width: 7rem;
            background: var(--saumon);
        }

        p {
            font-family: $font-01;
            font-size: 1.8rem;
        }
    }
}

.list-items-contact {
    li {
        @include flex-row-justify(flex-start);
        font-size: 2rem;
        font-weight: 400;

        &::after {
            display: none;
        }

        i {
            color: var(--blue);
        }

        p {
            margin: 0;
            margin-left: 2rem;
            font-size: 1.7rem;
        }
    }
}