.userAccountOffCanva__aside__dashboard__title,
.userAccountOffCanva__aside__address__title,
.userAccountOffCanva__aside__orders__title,
.userAccountOffCanva__aside__fidelity__title,
.userAccountOffCanva__aside__helps__title,
.userAccountOffCanva__aside__settings__title {
   display: block;
   font-size: 5rem;
   padding: 30px;
   color: #242B5B;
   @media (max-width: $breakpoint-xl) {
      font-size: 2.5rem;
   }
}

.userAccountOffCanva__aside__address__description,
.userAccountOffCanva__aside__orders__description {
   font-size: 2.5rem;
   padding: 0 30px;
   @media (max-width: $breakpoint-xl) {
      font-size: 2rem;
   }
}
.accordion-body {
   @media (max-width: $breakpoint-xl) {
      font-size: 2rem;
   }
}
.userAccountOffCanva {
   position: fixed;
   left: .5rem;
   top: .5rem;
   bottom: 0.5rem;
   width: 20vw;
   border: none;
   background-color: var(--saumon);

   //override bootstrap
   .offcanvas-body {
       padding: 1rem 0;
   }

   .close-account {
       display: none
   }

   .button-account {
       @include flex-row-justify(start);
       width: 100%;
       gap: 2rem;
       font-size: 2rem;
       font-weight: 500;
       text-transform: uppercase;
       letter-spacing: 2px;
       padding: 1rem;
       color: var(--white);
       background: none;
       transition: all 0.3s ease-in;

       &:hover {
           background-color: var(--blue);

           i {
               background-color: transparent !important
           }
       }

       &.active {
           background-color: var(--blue);

           &::before {
               content: "";
               filter: brightness(0.8);
               position: absolute;
               right: 0;
               border-bottom: 22px solid transparent;
               border-left: 24px solid var(--blue);
               transform: translate(2rem, 4rem);
               z-index: 1;
           }

           &::after {
               content: "";
               display: block;
               position: absolute;
               right: -2rem;
               width: 3rem;
               height: 6rem;
               background-color: var(--blue);
               z-index: 2;
           }

           i {
               background-color: transparent !important;
               color: var(--saumon)
           }

           span {
               color: var(--saumon)
           }
       }

       i {
           @include flex-row-justify(center);
           margin-left: 1rem;
           width: 4rem;
           height: 4rem;
           border-radius: 1rem;
       }

       &-dashboard {
           margin-bottom: 2rem;
       }
   }

   &__wrapper {
       @include flex-column-justify(space-between);
       height: 100%;

       &__content {
           margin-top: 1rem;

           &__list {
               @include flex-column();
               gap: 2rem;
               padding: 0;

               &__item {
                   &:nth-child(1) {
                       &::after {
                           content: "";
                           display: block;
                           position: absolute;
                           left: 2rem;
                           right: 2rem;
                           border-bottom: 2px solid var(--white);
                       }
                   }
               }
           }
       }

       &__logout {
           position: relative;
           padding: 1rem 0;
           text-align: center;

           &::before {
               content: "";
               display: block;
               position: absolute;
               top: 0;
               left: 2rem;
               right: 2rem;
               border-top: 2px solid var(--white);
           }

           button {
               justify-content: center !important;
               gap: 0 !important;

               i {
                   margin-left: 0 !important;
                   transform: rotate(180deg);
               }
           }
       }
   }

   &__aside {
       &__dashboard {
           position: fixed;
           left: 20vw;
           top: 0.5rem;
           right: 0.5rem;
           bottom: 0.5rem;
           background-color: #c5afde;
       }

       &__address {
           position: fixed;
           left: 20vw;
           top: 0.5rem;
           right: 0.5rem;
           bottom: 0.5rem;
           background-color: #e5bcbc;
       }

       &__orders {
           position: fixed;
           left: 20vw;
           top: 0.5rem;
           right: 0.5rem;
           bottom: 0.5rem;
           background-color: #aedaf4;
       }

       &__fidelity {
           position: fixed;
           left: 20vw;
           top: 0.5rem;
           right: 0.5rem;
           bottom: 0.5rem;
           background-color: #e8ecc1;
       }

       &__helps {
           position: fixed;
           left: 20vw;
           top: 0.5rem;
           right: 0.5rem;
           bottom: 0.5rem;
           background-color: #e8b8e1;
       }

       &__settings {
           position: fixed;
           left: 20vw;
           top: 0.5rem;
           right: 0.5rem;
           bottom: 0.5rem;
           background-color: #e1e1e1;
       }
   }

   @media (max-width: $breakpoint-xl) {
       flex-direction: row;
       left: initial;
       top: 0;
       bottom: 0;
       width: auto;
       border: none;

       .offcanvas-header {
           display: none;
       }

       .aside-left {
           width: 15vw;
       }

       .aside-right {
           position: fixed;
           left: inherit;
           top: 0;
           right: 0;
           bottom: 0;
           width: 85vw;
           overflow-y: auto;
           z-index: 2;
       }

       .button-account {
           padding: 1rem;
           gap: 0;

           i {
               margin-left: inherit;
           }

           span {
               display: none;
           }

           &.active {
               &::before {
                   display: none;
               }

               &::after {
                   display: none;
               }
           }
       }

       .close-account {
           display: block;
           position: absolute;
           top: 1rem;
           right: 1rem;
           background: none;

          span {
           i {
               font-size: 2rem;
           }
          }
       }

       &__wrapper {
           &__content {
               &__list {
                   align-items: center;
               }
           }
       }

       .header__navigation__authentication__userProfil__profil {
           span {
               font-size: 1.5rem;
               text-transform: uppercase;
               font-weight: 900;
               letter-spacing: 0.2em;
               color: var(--blue);

               &:nth-child(1) {
                   margin-left: 1rem;
               }
           }
       }
   }
}